<template>
    <v-card>
        <v-container>

            <v-combobox
                    v-model="template"
                    :items="templates"
                    :rules="[requiredRule]"
                    :label="$vuetify.t('$vuetify.app.template')">
            </v-combobox>


            <v-text-field
                    v-model="to"
                    :rules="[requiredRule, emailRule]"
                    :label="$vuetify.t('$vuetify.app.email')">
            </v-text-field>

            <v-btn :dark="sendEnabled"
                   :disabled="!sendEnabled"
                   color="blue"
                   @click="onSend"
                   :loading="loading"
                   block>
                {{$vuetify.t('$vuetify.app.send')}}
            </v-btn>

        </v-container>
    </v-card>
</template>

<script>
    export default {
        name: "mailing-form",
        data() {
            return {
                template: null,
                to: ""
            }
        },
        props: {
            templates: Array,
            loading: Boolean
        },
        computed: {
            sendEnabled() {
                let {to, template} = this
                return !!to && !!template && !!this.checkEmail(to)
            }
        },
        methods: {
            onSend() {
                let {to, template} = this
                this.$emit('send', {to, template})
            },
            requiredRule(value) {
                return !!value || this.$vuetify.t('$vuetify.app.required')
            },
            emailRule(value) {
                return this.checkEmail(value) || this.$vuetify.t('$vuetify.app.invalidEmail')
            },
            checkEmail(value) {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                return value && pattern.test(value)
            }
        }
    }
</script>

<style scoped>

</style>