<template>
    <v-list-tile>

        <v-list-tile-content>
            <v-list-tile-title>{{template}}</v-list-tile-title>
            <v-list-tile-sub-title>{{to}}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
            <v-progress-circular
                    v-if="updating"
                    indeterminate
                    color="primary"
            ></v-progress-circular>
            <v-icon v-else :color="colors[status]">
                {{icons[status]}}
            </v-icon>
        </v-list-tile-action>

    </v-list-tile>
</template>

<script>
    import config from '../config.json'

    /**
     * Message
     * Only UI part
     */
    export default {
        name: "message",
        data() {
            return {
                icons: config.icons,
                colors: {
                    queued: "primary",
                    working: "warning",
                    complete: "success",
                    failed: "error"
                }
            }
        },
        props: {
            template: String,
            to: String,
            status: String,
            updating: false
        }
    }
</script>

<style scoped>

</style>