<template>
    <v-badge overlap
             class="badge-tight"
             color="accent">
        <span v-if="messages.length"
              slot="badge">{{messages.length}}</span>

        <v-menu allow-overflow offset-y :disabled="messages.length < 1">
            <v-btn flat
                   slot="activator"
                   :disabled="messages.length < 1">
                {{$vuetify.t('$vuetify.app.messages')}}
            </v-btn>

            <v-list v-if="messages.length" class="overflowed-list">

                <self-checking-message v-for="message in messages"
                                       v-bind="message">
                </self-checking-message>

            </v-list>

        </v-menu>

    </v-badge>
</template>

<script>
    import SelfCheckingMessage from "./self-checking-message";
    /**
     * Messages Drop Down
     * Shows messages under the button
     */
    export default {
        name: "messages-drop",
        components: {SelfCheckingMessage},
        props: {
            messages: Array
        }
    }
</script>

<style>
    .v-badge.badge-tight .v-badge__badge {
        top: 0px;
        right: 0px;
    }
    .overflowed-list {
        max-height: 500px;
        overflow-y: auto;
    }
</style>