<template>
    <message
            :updating="updating"
            :template="template"
            :to="to"
            :status="status"
    ></message>
</template>

<script>
    import config from '../config.json'
    import {mapActions} from 'vuex'
    import asyncLoop from "../utils/asyncLoop"
    import Message from "./message";

    /**
     * Self Checking Message
     * Processes the checks of the status in a loop
     */
    export default {
        name: "self-checking-message",
        components: {Message},
        data() {
            return {
                updating: false
            }
        },
        props: {
            jid: String,
            template: String,
            to: String,
            status: String
        },
        methods: {
            ...mapActions('data', ['updateStatus']),
            isStatusDone(status) {
                return status === config.statuses.failed || status === config.statuses.complete
            }
        },
        created() {
            if (!this.isStatusDone(this.status)) {
                asyncLoop(
                    () => { /* repeatedFn */
                        this.updating = true
                        return this.updateStatus(this.jid)
                    },
                    (response) => { /* returnCheckFn */
                        this.updating = false
                        return this.isStatusDone(response.data.status)
                    },
                    config.checkStatusInterval, /* intervalTime */
                    true /* immediately */
                )
            }
        }
    }
</script>

<style scoped>

</style>