<template>
    <v-app>
        <v-toolbar fixed app dark color="blue">
            <v-toolbar-title class="mr-4">
                {{$vuetify.t('$vuetify.app.title')}}
            </v-toolbar-title>
            <messages-drop :messages="messages">

            </messages-drop>
        </v-toolbar>
        <v-content>
            <v-container fluid fill-height>
                <mailing-form
                        class="mx-auto"
                        style="max-width: 600px;min-width: 250px;"
                        @send="sendMessage"
                        :loading="sending"
                        :templates="templates">
                </mailing-form>
            </v-container>
        </v-content>

        <v-footer dark
                  class="grey darken-3 justify-center">
            <span>Test app developed by
                <strong>Artem Maltsev</strong>
                for
                <a href="https://ikbenfrits.nl" style="color: #fafafa">
                    ikbenfrits.nl
                </a>
            </span>
        </v-footer>
    </v-app>
</template>

<script>
    import MailingForm from "./components/mailing-form";
    import MessagesDrop from "./components/messages-drop";
    import {mapState, mapActions} from 'vuex'

    export default {
        components: {MessagesDrop, MailingForm},
        data() {
            return {
                intervals: {}
            }
        },
        computed: {
            ...mapState('data', ['templates', 'messages', 'sending'])
        },
        methods: {
            ...mapActions('data', ['sendMessage'])
        }
    }
</script>
